<div id="help_seg" class="about">
    <h2>About rstWeb</h2><button class="help_mini" onclick='hide_about();'>X</button>
    <table class="about_table">

        <tr><td><img src="img/rstweb_logo.png" height="75px" alt="rstWeb"/></td><td><h1>rstWeb</h1>
        Version **version**</td></tr>
        <tr><td colspan="2" class="website">Website: <a href="http://corpling.uis.georgetown.edu/rstweb/info/" target="_new">http://corpling.uis.georgetown.edu/rstweb/info/</a></td></tr>
        <tr><td colspan="2" class="copyright">&copy; Amir Zeldes 2015-2019</td></tr>

    </table>

</div>
