<div class="edit_bar" id="edit_bar">
    <form id="edit_form" name="edit_form" action="**submit_target**" method="post" class="nav_form" enctype="multipart/form-data">
        <input id="current_doc" name="current_doc" type="hidden" value="**doc**"/>
        <input id="current_project" name="current_project" type="hidden" value="**project**"/>
        <input id="serve_mode" name="serve_mode" type="hidden" value="**serve_mode**"/>
        <input id="**action_type**" name="**action_type**" type="hidden" value=""/>
        <input id="current_guidelines" name="current_guidelines" type="hidden" value="**current_guidelines**"/>
        <input id="logging" name="logging" type="hidden" value=""/>
        <input id="reset" name="reset" type="hidden" value=""/>
        <input id="dirty" name="dirty" type="hidden" value=""/>
        <input id="timestamp" name="timestamp" type="hidden" value=""/>
    </form>
    <form id="quickexp_form" name="quickexp_form" action="quick_export" method="post" class="nav_form" enctype="multipart/form-data">
        <input id="quickexp_doc" name="quickexp_doc" type="hidden" value="**doc**"/>
        <input id="quickexp_project" name="quickexp_project" type="hidden" value="**project**"/>
    </form>

            <button id="nav_open" class="nav_button" onclick="open_open();" name="open" **open_disabled**><i class="fa fa-folder-open" title="Open"></i> open</button>
            <button id="nav_save" class="nav_button" onclick="save();" **save_disabled**><i class="fa fa-save" title="Save"></i> save</button>
            <button id="nav_reset" class="nav_button" onclick="do_reset();" **reset_disabled**><i class="fa fa-refresh on fa-trash" title="Reset"></i> reset</button>
            <button id="nav_quickexp" class="nav_button" onclick="do_quickexp();" **quickexp_disabled**><i class="fa fa-code" title="Download XML"></i> xml</button>
            <button id="nav_screenshot" class="nav_button" onclick="do_screenshot();" **screenshot_disabled**><i class="fa fa-image" title="Image"></i> image</button>
    <span class="divider">|</span>
            <button class="nav_button" onclick="undo();" **undo_disabled**><i class="fa fa-undo" title="Undo"></i> undo</button>
            <button class="nav_button" onclick="redo();" **redo_disabled**><i class="fa fa-undo fa-flip-horizontal" title="Redo"></i> redo</button>
    <span class="divider">|</span>
            <button id="nav_edit" class="nav_button" onclick="open_structure();" **structure_disabled**><div class="struct_logo_frame"><i class="fa fa-refresh" title="Edit structure"></i></div> structure</button>
            <button id="nav_segment" class="nav_button" onclick="open_segment();" **segment_disabled**><i class="fa fa-list-ol" title="Segmentation"></i> segment</button>
    <span class="divider">|</span>
            <button id="nav_admin" class="nav_button" onclick="open_admin();" **admin_disabled**><i class="fa fa-shield" title="Administration"></i> admin</button>
    <span class="divider">|</span>
            <button id="guidelines" class="nav_button" onclick="show_guidelines();" disabled="disabled"><i class="fa fa-book" title="guidelines"></i> guidelines</button>
            <button id="nav_help" class="nav_button" onclick="show_help();"><i class="fa fa-question-circle" title="Help"></i> help</button>
            <button id="nav_about" class="nav_button" onclick="show_about();"><i class="fa fa-info-circle" title="About"></i> about</button>
</div>
