<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>rstWeb - **page_title**</title>
	<link rel="stylesheet" href="css/rst.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="css/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <script src="./script/jquery-1.11.3.min.js"></script>
    <script src="./script/jquery-ui.min.js"></script>
    <script src="./script/nav.js"></script>
    <script src="./script/html2canvas.min.js"></script>
    <script src="./script/canvg.min.js"></script>

</head>

<body id="home">

<div class="banner" id="banner">
<table>
    <tr>
<td rowspan="2"><a href="open.py"><img src="img/rstweb_logo.png" alt="rstWeb" class="logo"/></a></td>
                <td>
    </td>
            <td class="logged_in">
                Logged in as: **user** **logout_control**
            </td>
</tr>
    <tr>
<td><h1>rstWeb - **page_title**</h1></td>

</tr></table>

</div>
