<html>
<head><title>rstWeb - new login</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

	<link rel="stylesheet" href="css/rst.css" type="text/css" charset="utf-8"/>


</head>
<body id="home">


<div class="banner">
<table>
    <tr>
<td rowspan="2"><a href="open.py"><img src="img/rstweb_logo.png" alt="rstWeb" class="logo"/></a></td>
                <td style="height: 21px; font-size: 16px">&nbsp;
    </td>
            <td class="logged_in">
                &nbsp;
            </td>
</tr>
    <tr>
<td><h1>rstWeb - Login</h1></td>

</tr></table>
</div>


<h2>Create a New Login</h2>

<!-- **message** -->

<div id="control">
	Please enter your desired user name here (you will be notified if the name is already taken). Your password must be at least five characters long.
</div>





<div>
    <p>**new login form**</p>
  </div>  
    

</body>
</html>